<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transliterate</title>
    <link rel="stylesheet" href="../static/css/style.index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

    <section class="header">
        <nav>
            <img src="../static/images/final_logo.png" alt="">
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="https://github.com/SohamRatnaparkhi/transliterate-v2/blob/master/DOCUMENTATION/features.md">FEATURE</a></li>
                    <li><a href="https://github.com/SohamRatnaparkhi/transliterate-v2/blob/master/DOCUMENTATION/languages.md">SUPPORTED LANGUAGES</a></li>
                    <li><a href="#contact-us">CONTACT US</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Welcome to Transliterate!</h1>
            <h3>Innovating Remote Learning </h3>

            <a href="#features" class="hero-btn">Translate Now</a>
            <p>
                Transliterate helps you to enhance your Online Remote Learning experience with its wide range of
                features. <br>
                Transliterate Helps you to Translate and Transcribe your study material including Audio, Video Lectures
                and lecture notes into 100+ Languages spoken all over the Globe including major languages like Hindi,
                Marathi, Japanese, Spanish, Greek, German and many more....
            </p>
        </div>

    </section>

    <section id="features">
        <h1>Features we offer</h1>
        <p>
            The Premium features which transliterate provides is it can translate your Complete video lecture into the
            language you
            are comfortable with so that you can even watch lectures in other languages by using Transliterate
        </p>

        <div class="row">
            <div class="features-col">
                <a href="../static/utilities/video_translate.html">Video Translation</a>
                <p>Transliterate can also translate your lecture notes into above mentioned 106 Languages providing
                    premium experience over
                    notes also.Hence, Promoting Education For all the Remote Learning Students across the Globe.</p>
            </div>

            <div class="features-col">
                <a href="../static/utilities/audio_translate.html">Audio Translation</a>
                <p>Transliterate translates your Audio file into a variety of languages spoken all over the world which
                    will help students
                    in every corner of the world to access education in their own prescribed language resulting in an
                    uninterrupted
                    Educational Experience</p>
            </div>

            <div class="features-col">
                <a href="../static/utilities/text_translate.html">Text Translation</a>
                <p>Transliterate Helps you to translate your lectures to more than 100+ languages including major
                    languages like Japanese,
                    Greek, Korean, Spanish, Hindi, English, Marathi, and many more...</p>
            </div>

        </div>



    </section>

    <!-----------JavaScript for Toggle menu - Stackoverflow---------->
    <script>

        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>

    <section class="footer" id="contact-us">
        <h4>About Us</h4>
        <p>Greetings! We are Team De-Coders, <a href="https://linkfree.eddiehub.io/SohamRatnaparkhi">Soham Ratnaparkhi</a> and <a href="https://www.linkedin.com/in/chaitanya-deshmukh-300907223/">Chaitanya Deshmukh</a>,<br>Sophomore at Vishwakarma Institute of Technology, Pune and Indian Institute of Information Technology, Pune.</p>

        <div class="icons">
            <a href="https://github.com/SohamRatnaparkhi/transliterate-v2"><i class="fa fa-github"></i></a>
            
            
        </div>


    </section>

</body>

</html>